@import "tailwindcss";



/* pequeño estilo para Toasts */
.toast-container {
position: fixed;
right: 1rem;
top: 1rem;
z-index: 60;
}



@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-20px); }
  100% { transform: translateY(0px); }
}

@keyframes float-slow {
  0% { transform: translateY(0px) translateX(0px); }
  50% { transform: translateY(15px) translateX(10px); }
  100% { transform: translateY(0px) translateX(0px); }
}

.animate-float {
  animation: float 8s ease-in-out infinite;
}

.animate-float-slow {
  animation: float-slow 10s ease-in-out infinite;
}